<!--div class="layout-footer">
    <div class="col">
        <div class="col">
            <span class="text-light dgaie">DGAIE</span>
        </div>

    </div>
    <div class="flex gap-2">
        
        <button pButton pRipple type="button" icon="pi pi-github" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text p-button-plain"></button>
    </div>
</div-->

<br><br>
<footer class="text-center" style="background-color: green;"> 
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <h6 style="color: beige;">Système de Gestion des Baux Administratifs</h6>
      </section>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     <span style="color: beige;">
       © 2023 Copyright:
        <a class="text-white" href="#">DGAIE</a> - 
        <span>Développée par Télia Informatique</span>
      </span>
    </div>
  </footer>