<div class="col-12">
    <div class="card">
        <h1>INSPECTIONS TECHNIQUES</h1>
        <p-tabView orientation="left">
            <p-tabPanel header="Dossiers en attente d'inspection" class="line-height-3 m-0">
                <app-building-attente-inspection></app-building-attente-inspection>
            </p-tabPanel>
            <p-tabPanel header="Dossiers inspectés" class="line-height-3 m-0">
                <app-demande-examinee></app-demande-examinee>
            </p-tabPanel>
            <!--p-tabPanel header="Historique des inspections" class="line-height-3 m-0">
                <h4>hsitorique des inpections</h4>
            </p-tabPanel-->
        </p-tabView>
    </div>
</div>