<div class="grid">
  <div class="col-12">
    <div class="card p-0">
      <p-toast></p-toast>

      <p-table #dt [value]="requests" [columns]="cols" responsiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['description', 'status', 'legalStatus']" [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Affichage du  {first} au {last} des {totalRecords} entrées" [(selection)]="selectedRequests"
        selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Dossiers retenues</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Rechercher..."
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">No <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="dateRequest">DATE <p-sortIcon field="dateRequest"></p-sortIcon></th>
            <th pSortableColumn="structure">STRUCTURE <p-sortIcon field="structure"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-request>
          <tr>
            <td style="min-width: 6rem">{{ request.id }}</td>
            <td style="min-width: 10rem">{{ formatDate(request.dateRequest) }}</td>
            <td style="min-width: 10rem">{{ request.structure.name }}</td>
            <td style="width: 40%;min-width: 10rem">
              <div class="flex">
                <button pButton label="voir plus" class="mr-2" (click)="requestModal(request)"></button>

                <button pButton label="calculer le loyer" class="p-button-success mr-2"
                  (click)="estimateModal(request)"></button>

                <button pButton label="valider le loyer" class="p-button-info mr-2"
                  (click)="validateModal(request)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="showDialog" [style]="{ width: '70%' }" [header]="'Demande N° '+ rentalRequest.id"
      [maximizable]="true" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="overflow-x-auto">
          <table class="w-full" style="border-collapse: collapse; table-layout: auto">
            <tbody>
              <tr *ngIf="rentalRequest.structure">
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Structure</strong>
                </td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.structure.name }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Date de la
                    demande</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ formatDate(rentalRequest.dateRequest)
                  }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">
                  <strong>Description</strong>
                </td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.description }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Motivation de la
                    demande</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.motivationRequest }}
                </td>
              </tr>

              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Position actuelle
                    de la structure</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{
                  rentalRequest.structureCurrentPosition }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Nombre
                    d'agents</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.agentsNumber }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Nombre de
                    directeurs</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.managersNumber }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Région</strong>
                </td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.region }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Province</strong>
                </td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.province }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Commune</strong>
                </td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.commune }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Ville</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.city }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>District</strong>
                </td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.district }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Secteur</strong>
                </td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.sector }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Région
                    souhaitée</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.regionDesired }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Province
                    souhaitée</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.provinceDesired }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Commune
                    souhaitée</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.communeDesired }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Ville
                    souhaitée</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.cityDesired }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>District
                    souhaité</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.districtDesired }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Secteur
                    souhaité</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.sectorDesired }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Portefeuille de
                    baux du ministère</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.leasePortfolioMinistry
                  }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Statut d'occupation
                    des bâtiments</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{
                  rentalRequest.buildingsOccupancyStatus }}</td>
              </tr>

              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Liste des usages
                    des bâtiments</strong>
                </td>
                <td>
                  <ul class="card p-2">
                    <li *ngFor="let usage of rentalRequest.listBuildingUsageDto">
                      {{ usage.libLong }}
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </p-dialog>


    <p-dialog [(visible)]="showEstimateModal" [style]="{ width: '70%' }" header="Calcul du loyer indicatif"
      [maximizable]="true" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="overflow-x-auto">
          <table class="w-full" style="border-collapse: collapse; table-layout: auto">
            <tbody>
              <tr *ngIf="rentalRequest.structure">
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Structure</strong>
                </td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.structure.name }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Date de la
                    demande</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ formatDate(rentalRequest.dateRequest)
                  }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">
                  <strong>Description</strong>
                </td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.description }}</td>
              </tr>
              <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"><strong>Motivation de la
                    demande</strong></td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">{{ rentalRequest.motivationRequest }}
                </td>
              </tr>

              <tr>
                <td colspan="2">
                  <app-building-estimate [requestID]="rentalRequest.id!"
                    [callbackFunction]="calculerLoyer"></app-building-estimate>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="showValiderLoyer" [style]="{ width: '30%' }" header="Valider le loyer" [maximizable]="true"
      [modal]="true" class="p-fluid">

      <div class="p-field">
        <div class="card p-2">
          Ce loyer doit être le loyer arrêté avec le bailleur et
          sera reporté sur le contrat après validation du
          conseil des ministres.
        </div>
      </div>

      <hr>

      <div class="p-field">
        <label for="batiment-retenue">Bâtiment à retenir</label>
        <p-dropdown 
          id="batiment-retenue" 
          [options]="buildingsOptions" 
          [(ngModel)]="selectedBuilding"
          (onChange)="onBuildingChange($event.value)" 
          placeholder="Sélectionner le bâtiment à retenir"
          [showClear]="true"
        ></p-dropdown>
      </div>

      <div class="p-field">
        <label for="loyer-ind">Loyer indicatif</label>
        <input id="loyer-ind" type="number" [(ngModel)]="loyer_indicatif" pInputText disabled />
      </div>

      <div class="p-field">
        <label for="loyer">Montant du loyer arrêté</label>
        <input id="loyer" type="number" [(ngModel)]="loyer_arrete" min="0" [max]="loyer_indicatif" pInputText
          required />
      </div>

      <p-footer>
        <button pButton label="Annuler" icon="pi pi-times" (click)="hideLoyerDialog()"></button>
        <button pButton label="Enregistrer" icon="pi pi-check" (click)="saveLoyer()" [disabled]="!isSaveEnabled()">
        </button>
      </p-footer>
    </p-dialog>

  </div>
</div>