<div class="col-12">
    <div class="card">
        <h1>MISE EN OEUVRE DES DECISIONS DU CONSEIL</h1>
        <p-tabView orientation="left">
            <p-tabPanel header="Validation du conseil" class="line-height-3 m-0">
                <app-validation-conseil></app-validation-conseil>
            </p-tabPanel>
            <p-tabPanel header="Demande(s) Validée(s)" class="line-height-3 m-0">
                <app-request-validated></app-request-validated>
            </p-tabPanel>
            <p-tabPanel header="Demande(s) Réjétée(s)" class="line-height-3 m-0">
                <app-request-canceled></app-request-canceled>
            </p-tabPanel>
            <p-tabPanel header="Archives" class="line-height-3 m-0">
                <app-request-validated></app-request-validated>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>