<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Nouveau"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Supprimer"
                            icon="pi pi-trash"
                            class="p-button-danger"
                            (click)="deleteSelectedItems()"
                            [disabled]="
                                !selectedItems || !selectedItems.length
                            "
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="items"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="[
                    'name',
                    'description',
                    'address',
                    'manager'
                ]"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Affichage du  {first} au {last} des {totalRecords} entrées"
                [(selection)]="selectedItems"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Gestion des ministères et institutions</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Rechercher..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">
                            Nom <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">
                            Description <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="address">
                            Adresse <p-sortIcon field="address"></p-sortIcon>
                        </th>
                        <th pSortableColumn="phone">
                            Téléphone <p-sortIcon field="phone"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="item"
                            ></p-tableCheckbox>
                        </td>
                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">Nom</span>
                            {{ item.name }}
                        </td>
                        <td style="width: 20%; min-width: 8rem">
                            <span class="p-column-title">Description</span>
                            {{ item.description }}
                        </td>
                        
                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">Adresse</span>
                            {{ item.address }}
                        </td>

                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">Telephone</span>
                            {{ item.phone }}
                        </td>

                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editItem(item)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteItem(item)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="itemDialog"
            [style]="{ width: '450px' }"
            header="Détails ministère"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nom</label>
                    <input
                        type="text"
                        pInputText
                        id="name"
                        [(ngModel)]="item.name"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !item.name
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !item.name"
                        >le nom est un champ obligatoire.</small
                    >
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea
                        id="description"
                        pInputTextarea
                        [(ngModel)]="item.description"
                        required
                        rows="3"
                        cols="20"
                    ></textarea>
                </div>
                <div class="field">
                    <label for="name">Adresse</label>
                    <input
                        type="text"
                        pInputText
                        id="name"
                        [(ngModel)]="item.address"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !item.address
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !item.address"
                        >le nom est un champ obligatoire.</small
                    >
                </div>
                <div class="field">
                    <label for="name">Téléphone</label>
                    <input
                        type="text"
                        pInputText
                        id="phone"
                        [(ngModel)]="item.phone"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !item.address
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !item.address"
                        >le téléphone est un champ obligatoire.</small
                    >
                </div>
                <div class="field">
                    <label for="name">Responsable</label>
                    <input
                        type="text"
                        pInputText
                        id="manager"
                        [(ngModel)]="item.manager"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !item.address
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !item.address"
                        >le responsable est un champ obligatoire.</small
                    >
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Annuler"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Enregistrer"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveItem()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteItemDialog"
            header="Confirmation"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="item">
                    Etes-vous sure de vouloir supprimer
                    <b>{{ item.name }}</b>?
                </span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="Non"
                    (click)="deleteItemDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Oui"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteItemsDialog"
            header="Confirmation"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Etes-vous sure de vouloir supprimer les éléments sélectionnés ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="Non"
                    (click)="deleteItemsDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Oui"
                    (click)="confirmDeleteSelected()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
