<div class="col-12">
    <div class="card">
        <h1>EXAMEN CNOI</h1>
        <p-tabView orientation="left">
            <p-tabPanel header="Dossiers en attente d'examen" class="line-height-3 m-0">
                <app-approuval></app-approuval>
            </p-tabPanel>
            <p-tabPanel header="Dossiers retenus" class="line-height-3 m-0">
                <app-retenue></app-retenue>
            </p-tabPanel>
            <p-tabPanel header="Calcul de loyers" class="line-height-3 m-0">
                <app-calcul-loyer></app-calcul-loyer>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>