<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <h1>REGISTRE DES FACTURES IMMEUBLES</h1>
                </ng-template>

                <!--ng-template pTemplate="right">
                    <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template-->
            </p-toolbar>

            <div class="col-12">
                <div class="card p-fluid bg-secondary">

                    <div class="grid">

                            <div class="col-12 md:col-3">
                                <p-dropdown
                                    [options]="regions"
                                    [(ngModel)]="selected_region"
                                    placeholder="Selectionner la region"
                                    [showClear]="true"
                                    formControlName="region"
                                    (onChange)="onRegionChange($event.value)"
                                ></p-dropdown>
                            </div>
                            
                            <div class="col-12 md:col-3">
                                <p-dropdown
                                    [options]="filteredProvincesOptions"
                                    [(ngModel)]="selected_province"
                                    placeholder="Selectionner la province"
                                    [showClear]="true"
                                    formControlName="province"
                                    (onChange)="onProvinceChange($event.value)"
                                ></p-dropdown>
                            </div>
                            
                            <div class="col-12 md:col-3">
                                <p-dropdown
                                    [options]="filteredDepartementsOptions"
                                    [(ngModel)]="selected_departement"
                                    placeholder="Selectionner le departement"
                                    [showClear]="true"
                                    formControlName="departement"
                                    (onChange)="onDepartementChange($event.value)"
                                ></p-dropdown>
                            </div>
                            
                            <div class="col-12 md:col-3">
                                <p-dropdown
                                    [options]="filteredSecteursOptions"
                                    [(ngModel)]="selected_secteur"
                                    placeholder="Selectionner le secteur ou village"
                                    [showClear]="true"
                                    formControlName="city"
                                ></p-dropdown>
                            </div>
                    </div>
                </div>
            </div>

            <p-table #dt [value]="buildings" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['code', 'typeBuilding', 'region', 'province', 'commune', 'city']"
                [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Affichage du  {first} au {last} des {totalRecords} entrées"
                [(selection)]="selectedBuildings" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">GESTION DES BÂTIMENTS</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Rechercher..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="typeBuilding">Type Building <p-sortIcon field="typeBuilding"></p-sortIcon>
                        </th>
                        <th pSortableColumn="No">No <p-sortIcon field="No"></p-sortIcon>
                        </th>
                        <th pSortableColumn="typePropertyTitle">Property Title <p-sortIcon
                                field="typePropertyTitle"></p-sortIcon></th>
                        <th pSortableColumn="buildingValue">Value <p-sortIcon field="buildingValue"></p-sortIcon></th>
                        <th pSortableColumn="region">Region <p-sortIcon field="region"></p-sortIcon></th>
                        <th pSortableColumn="province">Province <p-sortIcon field="province"></p-sortIcon></th>
                        <th pSortableColumn="commune">Commune <p-sortIcon field="commune"></p-sortIcon></th>
                        <th pSortableColumn="city">City <p-sortIcon field="city"></p-sortIcon></th>
                        <th pSortableColumn="geolocation">Geolocation <p-sortIcon field="geolocation"></p-sortIcon></th>
                        <th pSortableColumn="rentPrice">Rent Price <p-sortIcon field="rentPrice"></p-sortIcon></th>
                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-building>
                    <tr>
                        <td><p-tableCheckbox [value]="building"></p-tableCheckbox></td>
                        <td style="width: 14%; min-width: 10rem">{{ building.id }}</td>
                        <td style="width: 14%; min-width: 10rem">{{ building.typeBuilding }}</td>
                        <td style="width: 14%; min-width: 10rem">{{ building.typePropertyTitle }}</td>
                        <td style="width: 14%; min-width: 10rem">{{ building.buildingValue }}</td>
                        <td style="width: 14%; min-width: 10rem">{{ building.region }}</td>
                        <td style="width: 14%; min-width: 10rem">{{ building.province }}</td>
                        <td style="width: 14%; min-width: 10rem">{{ building.commune }}</td>
                        <td style="width: 14%; min-width: 10rem">{{ building.city }}</td>
                        <td style="width: 14%; min-width: 10rem">{{ building.geolocation }}</td>
                        <td style="width: 14%; min-width: 10rem">{{ building.rentPrice }}</td>
                        <td style="width: 14%; min-width: 10rem">{{ building.status }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>